<section class="page-container">
    <div class="target-list">
        <span>目标列表</span>
        <button class="mission-btn fn-right mr-3" ng-click="addPlugins()" disabled="disabled" id="addplugin"><span class="create-mission btn-img fn-left"></span>添加插件</button>
        <button class="mission-btn fn-right add-target"><span class="create-mission btn-img fn-left"></span>添加目标</button>
    </div>
    <div class="blank-table table-mission">
        <table>
            <thead>
                <tr>
                    <th><label for=""><input type="checkbox" id="checkall" ng-click="checkAll()"></label></th>
                    <th style="width:5%">序号</th>
                    <th style="width:10%">类型</th>
                    <th style="width:36%">地址</th>
                    <th>插件数量</th>
                    <th style="width:15%">优先级</th>
                </tr>
            </thead>
            <tbody class="table-content1">
                <tr>
                    <td colspan="6" rowspan="3">暂无目标，点击添加<br><span class="addModal">添加目标</span></td>
                </tr>
            </tbody>
            <tbody ng-repeat="item in targetList track by $index" class="table-content">
                <td><input type="checkbox" name="checksingle" style="margin-left:0.2rem;" ng-click="chooseCheck($index)"></td>
                <td>{{$index+1}}</td>
                <td>{{item.Type}}</td>
                <td>{{item.addLocation}}</td>
                <td>{{item.count}}</td>
                <td>{{item.firstOne}}</td>
            </tbody>
        </table>
        <div id="modal1" style="display:none">
            添加目标
            <div class="modal-content-con1">
                <div class="group clearfix">
                    <label for="" class="fn-left mt-5">添加方式:</label>
                    <input type="radio" name="addType" checked id="oneAdd" ng-click="oneChoose()">单次添加
                    <input type="radio" name="addType" id="manyAdd" ng-click="manyChoose()">批量添加
                    <input type="radio" name="addType" id="folderAdd" ng-click="folderAdd()">文件导入
                </div>
                <div class="change-part1">
                    <div class="group clearfix">
                        <label for="" class="fn-left mt-5 width-12">目标地址:</label>
                        <input type="text" class="input-control fn-left tag-47 height-30" id="addressInput" placeholder="添加域名地址或IP地址" ng-model="targetData.addLocation"
                            ng-blur="checkAddress()">
                    </div>
                    <div class="group clearfix">
                        <label for="" class="fn-left mt-10 width-12">优先级:</label>
                        <select class="input-control fn-left tag-20 height-30" ng-model="targetData.firstOne">
                    <option value="" style="display:none"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                    </div>
                    <div class="group clearfix">
                        <label for="" class="fn-left width-12 mt-10">是否需要登录:</label>
                        <span class="circle-mission fn-left ml-25" ng-click="cirleTime()"></span><span class="is-circle fn-left">{{result}}</span>
                    </div>
                    <div class="group clearfix">
                        <label for="" class="fn-left width-12 mt-10">header信息:</label>
                        <textarea name="" id="" cols="30" rows="10" class="input-control fn-left tag-47 height-80"></textarea>
                    </div>
                </div>
                <div class="change-part2" style="display:none">
                    <div class="group clearfix">
                        <label for="" class="fn-left width-12 mt-10">目标地址:</label>
                        <textarea name="" id="" cols="30" rows="10" class="input-control fn-left tag-70 height-200" placeholder="添加域名地址或IP地址，多个目标换行区分！"
                            ng-model="targetData.addLocation"></textarea>
                    </div>
                </div>
                <div class="change-part3" style="display:none">
                    <div class="input-folder">导入文件</div>
                </div>
            </div>
            <div class="btn-group operte save-option">
                <button id="saveTarget" ng-click="saveAdd()">保存</button>
                <button>清空</button>
            </div>
        </div>
        <div id="modal2" style="display:none" class="clearfix">
            <div class="fn-left  tag-60 height-92">插件列表
                <div class="modal-content-con">
                    <div class="modal-content-con-header clearfix">
                        <label for="" class="fn-left"><input type="text" placeholder="插件名称搜索" class="mission-search"><button class="mission-btn search-btn">搜索</button></label>
                        <select name="" id="" class="height-24 tag-20">
                         <option value="" style="display:none;">危害等级选择</option>
                         <option value="">1</option>
                         <option value="">2</option>
                         <option value="">3</option>
                         <option value="">4</option>
                     </select>
                        <label for="" class="fn-right"><input type="checkbox" class="fn-left" id="checkall1" ng-click="checkAll1()"><span class="allcheck fn-left">全选</span></label>
                    </div>
                    <div id="jquery-accordion-menu" class="jquery-accordion-menu grey">
                        <ul id="demo-list" class="clearfix">
                            <li class="demo-li" ng-repeat="plugin in pluginData track by $index" ng-init="outerIndex = $index"><a href="" ng-click="openSubmenu($event,$index)" class="demo-a"><span class="submenu-indicator"></span>{{plugin.pluginName}} </a>
                             
                                <input type="checkbox" class="fn-right ul-box mr-36" name="checksingle1" ng-click="checkAll2($index)">
                                <ul class="submenu clearfix">
                                    <li ng-repeat="child in plugin.pluginChild track by $index" ng-click="show(outerIndex,$index)"><a href="">{{child.pluginChildName}} </a><input type="checkbox" class="fn-right ul-box mr-36 checkplugin" name="checksingle2"></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="model-left-content fn-left"><span class="fz-16">插件说明</span>
                <div class="model-left-content-container">
                    <ul class="bug-detail">
                        <li><span>漏洞名称:</span><span>{{bugDetail.pluginBugName}}</span></li>
                        <li><span>漏洞说明:</span><span>{{bugDetail.pluginBugState}}</span></li>
                        <li><span>影响版本:</span><span>{{bugDetail.affectVersion}}</span></li>
                        <li><span>影响组件:</span><span>{{bugDetail.affectCom}}</span></li>
                        <li><span>CVE编号:</span><span>{{bugDetail.CVENum}}</span></li>
                        <li><span>爆发时间:</span><span>{{bugDetail.boomDate}}</span></li>
                        <li><span>更新时间:</span><span>{{bugDetail.updateDate}}</span></li>
                        <li><span>危险等级:</span><span>{{bugDetail.riskLevel}}</span></li>
                        <li><span>修复方案:</span><span>{{bugDetail.repireWay}}</span></li>
                    </ul>
                    <div class="btn-group operte">
                        <button id="saveTarget" ng-click="savePlugin()">保存</button>
                        <button ng-click="cancel()">取消</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="btn-group operte return-create">
        <button ng-click="goBack()">上一步</button>
        <button>取消</button>
    </div>
    <div class="page-pagination fn-right clearfix">
        <div class="fn-left page-total">共计数据:<span>{{tableData.length}}条</span></div>
        <div class="page-page clearfix"><span class="fn-left arrow-left" id="pre"></span>
            <button class="fn-left page-num">1/6&nbsp;&nbsp;&nbsp;&nbsp;∨</button>
            <ul class="fn-left">
                <li></li>
            </ul>
            <span class="fn-left arrow-right" id="next"></span></div>
    </div>
</section>