<div class="right-container">
    <div class="container-top">
        <ul class="quick-lead">
            <li><a href="">开始扫描</a></li>
            <li><a href="">进行中</a><span class="ontag color-red">18</span></li>
            <li><a href="">已完成</a><span class="ontag color-green">48</span></li>
            <li><a href="">网络配置</a></li>
            <li><a href="">风险地图</a></li>
            <li><a href="">漏洞搜索</a></li>
            <li><a href="">资产扫描</a></li>
        </ul>
    </div>
    <div class="container-bottom">
        <div class="container-bottom-left">
            <div class="both-header">数据统计</div>
            <div class="left-content">
                <div class="left-content-header">
                    <span>扫出漏洞：<span>34642</span></span>
                    <span>扫描网站：<span>342</span></span>
                </div>
                <div class="left-content-content">
                    <div class="risk10">漏洞爆发Top10</div>
                    <div class="risk10-content">
                        <ul class="risk10-ul clearfix">
                            <li><span class="num-box">1</span>信息泄露——<span>332</span>次</li>
                            <li><span class="num-box">2</span>SQL注入——<span>302</span>次</li>
                            <li><span class="num-box">3</span>DOS——<span>256</span>次</li>
                            <li><span class="num-box">4</span>DOS——<span>256</span>次</li>
                            <li><span class="num-box">5</span>DOS——<span>256</span>次</li>
                            <li><span class="num-box">6</span>DOS——<span>256</span>次</li>
                            <li><span class="num-box">7</span>DOS——<span>256</span>次</li>
                            <li><span class="num-box">8</span>DOS——<span>256</span>次</li>
                            <li><span class="num-box">9</span>DOS——<span>256</span>次</li>
                            <li><span class="num-box">10</span>DOS——<span>256</span>次</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-bottom-right">
            <div class="both-header">实时消息</div>
            <div class="info-content">
                <ul class="info-ul">
                    <li>"<span class="scan-name">校园测试"</span><span class="scan-state">扫描结束</span><span class="scan-time">2017-05-15 15:45</span><span>查看报告?</span><span>立即前往?</span></li>
                    <li>"<span class="scan-name">校园测试"</span><span class="scan-state">扫描结束</span><span class="scan-time">2017-05-15 15:45</span><span>查看报告?</span><span>立即前往?</span></li>
                    <li>"<span class="scan-name">校园测试"</span><span class="scan-state">扫描结束</span><span class="scan-time">2017-05-15 15:45</span><span>查看报告?</span><span>立即前往?</span></li>
                    <li>"<span class="scan-name">校园测试"</span><span class="scan-state">扫描结束</span><span class="scan-time">2017-05-15 15:45</span><span>查看报告?</span><span>立即前往?</span></li>
                    <li>"<span class="scan-name">校园测试"</span><span class="scan-state">扫描结束</span><span class="scan-time">2017-05-15 15:45</span><span>查看报告?</span><span>立即前往?</span></li>
                    <li>"<span class="scan-name">校园测试"</span><span class="scan-state">扫描结束</span><span class="scan-time">2017-05-15 15:45</span><span>查看报告?</span><span>立即前往?</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
