<section class="page-container">
    <div class="create-container">
        基本配置
        <form class="create-content">
            <div class="group clearfix">
                <label for="" class="fn-left">任务名称</label>
                <input type="text" class="input-control fn-left tag-47 height-30" name="missonname">
            </div>
            <div class="group clearfix">
                <div class="fn-left form-group">
                    <label for="" class="fn-left" style="width:17%;text-align:right">行业</label>
                    <select name="" id="" class="input-control fn-left tag-61 height-30">
                        <option value="" style="display:none">请选择</option>
                        <option value="">1</option>
                        <option value="">2</option>
                    </select>
                </div>
                <div class="fn-left form-group">
                    <label for="" class="fn-left">负责人</label>
                    <input type="text" class="input-control fn-left tag-61 height-30">
                </div>
            </div>
            <div class="group clearfix">
                <label for="" class="fn-left">描述备注</label>
                <textarea name="" id="" cols="30" rows="10" class="input-control fn-left tag-47 height-80"></textarea>
            </div>
            <div class="group clearfix">
                <label for="" class="fn-left" style="width:5%;text-align:right">可选项</label>
                <section class=" fn-left tag-44 option-section">
                    <div class="clearfix mt-24 scan-time">
                        <label for="">扫描时间
                            <input type="radio" name="scantime" checked id="intime" ng-click="radioChoose1()">立即扫描
                            <input type="radio" name="scantime" id="ontime" ng-click="radioChoose()">定时扫描
                        </label>
                        <div class="date">
                           <input type="text" class="input-control fn-right tag-44 height-30 datepick" readonly>
                           <span class="datepic"></span>
                        </div>
                        
                    </div>
                    <div class="clearfix mt-24">
                        <label for="" class="fn-left">周期任务： </label>
                        <span class="circle-mission fn-left"  ng-click="cirleTime()"></span><span class="is-circle fn-left">{{result}}</span>
                        <div></div>
                    </div>
                    <div class="mt-14">
                        <label for="" class=""><input type="checkbox" id="sendcheck" ng-click="sendReport()">是否在任务完成后自动发送扫描报告</label>
                        <input type="email" placeholder="接收人邮件地址" class="input-control tag-47 height-30 mt-14" id="emailinput" style="display:none">
                    </div>
                </section>
            </div>
            <div class="btn-group operte">
                <button ng-click="nextStep()">下一步</button>
                <button ng-click="reset()">清空</button>
            </div>
        </form>
    </div>
</section>