<section class="page-container">
    <div class="btn-group">
        <button class="mission-btn" ui-sref="missionCreate"><span class="create-mission btn-img fn-left"></span>创建任务</button>
        <button class="mission-btn" ng-click="delMission()"><span class="delete-mission btn-img fn-left"></span>删除</button>
        <button class="mission-btn"><span class="start-mission btn-img fn-left"></span>启动</button>
        <button class="mission-btn"><span class="stop-mission btn-img fn-left"></span>暂停</button>
        <button class="mission-btn"><span class="refresh-mission btn-img fn-left"></span>刷新</button>
        <label for="" class="fn-right"><input type="text" placeholder="任务名称搜索" class="mission-search" ng-model="search"><button class="mission-btn search-btn">搜索</button></label>
    </div>
    <div class="table-mission">
        <table>
            <thead>
                <tr>
                    <th style="text-align:center"><label for=""><input type="checkbox" ng-click="checkAll()" id="checkall"></label></th>
                    <th>任务名称</th>
                    <th style="text-align:left;padding-left:5%">漏洞详情</th>
                    <th style="padding-left:1%">状态<span class="scart ml-10"></span></th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in list|filter:search" class="table-body">
                <tr>
                    <td style="padding-left:0.18rem;text-align: center;"><input type="checkbox" name="checksingle" ng-click="chooseCheck($index)"></td>
                    <td class="task-name" ui-sref="secondScan">{{item.missionNme}}
                        <div class="flow-modal">
                            <div class="modal-header">任务详情</div>
                            <div class="modal-content">
                                <ul>
                                    <li><span>名称：</span><span></span></li>
                                    <li><span>创建人：</span><span></span></li>
                                    <li><span>目标数：</span><span></span></li>
                                    <li><span>插件数：</span><span></span></li>
                                    <li><span>漏洞数：</span><span></span></li>
                                    <li><span>开始时间：</span><span></span></li>
                                    <li><span>结束时间：</span><span></span></li>
                                    <li><span>历时：</span><span></span></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td><span class="red bug-box fn-left">严重：{{item.bugInfo[0].red}}</span><span class="orange bug-box fn-left">高危:{{item.bugInfo[1].orange}}</span>
                        <span
                            class="purple bug-box fn-left">中危:{{item.bugInfo[2].purple}}</span><span class="blue bug-box fn-left">低危:{{item.bugInfo[3].blue}}</span></td>
                    <td>{{item.statue}}</td>
                    <td style="padding-left:2%"><span class="single-btn single-stop fn-left"></span><span class="single-btn single-del fn-left" ng-click="list.splice($index,1)"></span>
                        <span
                            class="single-btn single-report fn-left"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page-pagination fn-right clearfix">
        <div class="fn-left page-total">共计数据:<span>{{count}}条</span></div>
        <div class="page-page clearfix">
            <span class="fn-left arrow-left" ng-click="prevPage()"></span>
            <button class="fn-left mission-btn page-num" ng-click="showPage()">{{choosedNum}}&nbsp;&nbsp;&nbsp;&nbsp;∨</button>
            <span class="fn-left arrow-right" ng-click="nextPage()"></span>
            <ul class="page-index">
                <li ng-repeat="idx in pages track by $index" ng-click="choosedPage($index)"><span></span>{{idx}}&nbsp;/&nbsp;{{p_all_page}}</li>
            </ul>
        </div>
<!--    
	<li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:void(0);" ng-click="load_page(p_current-1)">上一页</a></li>	
	<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]"><a href="javascript:void(0);" ng-click="load_page(page)">{{ page }}</a></li>	
	<li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:void(0);" ng-click="load_page(p_current+1)">下一页</a></li>	-->

    </div>
</section>